In [23]:
import pandas as pd
import sqlite3

In [55]:
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

def create_table_from_csv(cursor: sqlite3.Cursor, tablename: str) -> None:
    '''
    Creates a table and populates it from a .csv file
    specified by `path`.
    '''
    data = []

    # Read the .csv file line-by-line.
    with open(f'relations/{tablename}.csv', 'r') as csv_str:
        line = csv_str.readline()
        while line != '':
            line = line.strip().split(',')
            line = tuple(line)
            data.append(line)
            line = csv_str.readline()
    
    cols = data.pop(0);

    cols_str = ''
    size = len(cols)
    for i in range(size):
        cols_str += cols[i] + ' TEXT'
        if (i + 1 < size):
            cols_str += ',\n'

    query = f'CREATE TABLE {tablename} ({cols_str});'

    # cursor.execute(query)
    for d in data:
        query = f'INSERT INTO {tablename} VALUES {d.__str__()}'
        cursor.execute(query);

create_table_from_csv(cursor, 'department')

for row in cursor.execute("SELECT * FROM department WHERE DEPARTMENT = 'research';"):
    print(row)

conn.close()

('john', 'research')
('franklin', 'research')
('ramesh', 'research')
('joyce', 'research')

In [30]:
def create_dataframe_from_csv(path: str):
    '''
    Returns a `DataFrame` from a supplied `path` 
    to a .csv file. 
    '''
    data = []
    
    # Read the .csv file line-by-line.
    with open(path, 'r') as csv_str:
        line = csv_str.readline()
        while line != '':
            line = line.strip().split(',')
            line = tuple(line)
            data.append(line)
            line = csv_str.readline()
    
    cols = data.pop(0);
    print(cols);
    dataframe = pd.DataFrame(data, columns=cols)

    return dataframe

create_dataframe_from_csv('relations/department.csv')

('\ufeffEMPLOYEE_NAME', 'DEPARTMENT')

  ﻿EMPLOYEE_NAME      DEPARTMENT
0           john        research
1       franklin        research
2         alicia  administration
3       jennifer  administration
4         ramesh        research
5          joyce        research
6          ahmad  administration
7          james    headquarters