In [17]:
import pandas as pd
import sqlite3

# A helper function I wrote to import the .csv files
# into the sqlite database
from helpers import create_table_from_csv

In [18]:
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

create_table_from_csv(cursor, 'department', ['TEXT', 'TEXT'])
create_table_from_csv(cursor, 'employee', ['INT', 'TEXT'])
create_table_from_csv(cursor, 'female', ['TEXT'])
create_table_from_csv(cursor, 'male', ['TEXT'])
create_table_from_csv(cursor, 'project', ['TEXT'])
create_table_from_csv(cursor, 'salary', ['TEXT', 'INT'])
create_table_from_csv(cursor, 'supervise', ['TEXT', 'TEXT'])
create_table_from_csv(cursor, 'workson', ['TEXT', 'TEXT', 'INT'])

conn.commit()
conn.close()

In [20]:
conn = sqlite3.connect('database.db')

df = pd.read_sql_query("SELECT * FROM workson WHERE EFFORT = 10", conn)
conn.close()

df

       NAME          PROJECT  EFFORT
0  franklin         producty      10
1  franklin         productz      10
2  franklin  computerization      10
3  franklin   reorganization      10
4    alicia  computerization      10
5     james   reorganization      10